@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Soleto;
    src: url("./fonts/Soleto.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #160027;
}

a,
h1,
h2,
h3,
h4,
h5,
p,
span {
    font-family: Soleto;

}

a,
h1,
h2,
h3,
h4,
h5,
p,
span,
input {
    color: whitesmoke
}