<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Närvaro | Output</title>

    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>

    <div class="backgroundImage">
      <img src="/assets/images/backgroundNTI.jpg">
    </div>

    <div class="message-container-wrapper">
      <h1>Status</h1>
      <div id="statusDiv">
          <% statusObject.forEach(person => { %>
              <div class="message-container" id="message-containerOutput">
                  <p><%= person.name %></p>
                  <span><%= (person.status == true) ? "tillgänglig" : "ej tillgänglig"; %></span>
              </div>
          <% }); %>
      </div>
      <a href="/">Sätt status</a>
      <noscript>
          <h4>JavaScript är avstängt</h4>
          <p>För att uppdatera innehållet på sidan, ladda om sidan</p>
      </noscript>
    </div>

    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="/assets/javascript/output.js"></script>
</body>
</html>