<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Närvaro | Output</title>

    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body>
    <h1>Status</h1>
    <div>
        <% status.forEach(statusObject => { %>
            <div style="display: flex; flex-direction:row; align-items:center; gap: 50px;">
                <p style="font-weight: bold; font-size:25px;"><%= statusObject?.status_text %></p>
                <span style="font-size: 15px;"><%= statusObject?.current_hour %></span>
            </div>
            
        <% }) %>
    </div>
    <a href="/">Sätt status</a>
</body>
</html>