<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Närvaro | Output</title>

    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body>
    <h1>Status</h1>
    <div id="messageDiv">
        <% status.forEach(statusObject => { %>
            <div style="display: flex; flex-direction:row; align-items:center; gap: 50px;">
                <p style="font-weight: bold; font-size:25px;"><%= statusObject?.status_text %></p>
                <span style="font-size: 15px;"><%= statusObject?.current_hour %></span>
            </div>
            
        <% }) %>
    </div>
    <a href="/">Sätt status</a>
    <noscript>
        <h4>JavaScript är avstängt</h4>
        <p>För att uppdatera innehållet på sidan, ladda om sidan</p>
    </noscript>

    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    <script src="assets/javascript/main.js"></script>
</body>
</html>