<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Närvaro | Output</title>

    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body>
    <h1>Status</h1>
    <div>
        <% for (const key in status) { %>
            <%  if (Object.hasOwnProperty.call(status, key)) { %>
                <h2><%= status[key] %></h2>
            <% } %>
        <% } %>
    </div>
    <a href="/input">Sätt status</a>
</body>
</html>