:root {
  --main-font-family: Soleto;
  --main-white-color: white;
  --main-red-color: red;
  --main-green-color: #66bb6a;
  --contents-background-color: rgb(0, 0, 0, .65);
  --row-background-color: rgb(128, 128, 128, .65);
}

@font-face {
  font-family: Soleto;
  src: url("./fonts/Soleto.ttf");
}

* {
    box-sizing: border-box;
}

body  {
    margin: 0;
    overflow-x: hidden;
    color: var(--main-white-color);
    font-family: var(--main-font-family)
}

/* Link Behavior */

a:link {
  color: var(--main-white-color);
  text-decoration: none;
}

a:visited {
  color: var(--main-white-color);
}

a:hover {
  color: var(--main-red-color);
}

a:active {
  color: var(--main-white-color);
}

/* Background elements */

#logo {
  position: fixed;
  top: 50px;
  left: 50px;
}

.backgroundImage {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.backgroundImage > img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

/* Layout */

.grid-center {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 50px;
}

/* Content */

.message-container-wrapper {
  width: 50vw;
  height: auto;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  text-align: center;
  background-color: var(--contents-background-color);
  border-radius: 15px;
  border: 5px solid var(--main-white-color);
  font-size: 2em;
  padding: 25px 50px;
}

.message-container{
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
  text-align: left;
  gap: 50px;
  width: 100%;
  padding: 15px 50px;
}

.message-container > div {
  width: 50%;
  margin: 5px 0px;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.gray-color {
  background-color: var(--row-background-color);
}

/* Output page specific stuff */

#message-containerOutput > .status  {
  text-align: right;
}

.status-flex {
  display: flex;
  flex-direction: column;
}

.subheading {
  font-size: 15px;
}

.red-color {
  color: var(--main-red-color);
}

.green-color {
  color: var(--main-green-color);
}

/* Checkbox */

input[type=checkbox]:hover {
  cursor: pointer;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: gray;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: var(--main-white-color);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--main-green-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch input:disabled + .slider:before {
  background-color: lightgray;
}

/* Media query for phone */

@media (pointer:none), (pointer:coarse) {
  #logo {
    display: none;
  }
  .grid-center{
    padding: 25px 0px;
  }
  .message-container-wrapper {
    width: 90vw;
    padding: 10px 0;
    font-size: 18px;
  }
  .message-container {
    padding: 12px;
  }
  .subheading {
    font-size: 12px;
  }
}